* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html, .body {
  overflow-x: hidden;
  width: 100%;
}

.body-y {
  overflow: hidden;
}

/* .shadowed {
  -webkit-filter: drop-shadow(.5px  .5px  1px rgb(0, 0, 0));
  filter: drop-shadow(.5px .5px   1px rgb(200, 8, 8));
} */